@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: $fontFamily;
    font-weight: $fontWeightRegular;
    background: radial-gradient(circle at top, $backgroundOne,$backgroundTwo);
    background-repeat: no-repeat;

    .page {
        display: flex;
        flex-direction: column;
        min-height: calc(var(--vh, 1vh) * 100);
        padding: 30px;
        overflow: hidden;
        position: relative;

        main {
            flex: 1;
            width: 100%;
            max-width: 600px;
            margin: 0 auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            &.custom {
                color: $textNeutral;
            }
        }
    }
}