$scissorsOne:hsl(39, 89%, 49%);
$scissorsTwo:hsl(40, 84%, 53%);
$paperOne: hsl(230, 89%, 62%); 
$paperTwo: hsl(230, 89%, 65%);
$rockOne: hsl(349, 71%, 52%);
$rockTwo: hsl(349, 70%, 56%);
$darkText: hsl(229, 25%, 31%);
$scoreText: hsl(229, 64%, 46%);
$textNeutral: #fff;
$headerOutline: hsl(217, 16%, 45%);
$backgroundOne: hsl(214, 47%, 23%); 
$backgroundTwo: hsl(237, 49%, 15%);
$backgorundNeutral: #fff;
$fontFamily: 'Barlow Semi Condensed', sans-serif;
$fontWeightRegular: 600;
$fontWeightBold: 700;